::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

.customscrollbar::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.customscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.customscrollbar::-webkit-scrollbar-thumb {
  background: #202020;
}
